# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpearPrototype.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\unreal\git_unity\SpearPrototype\.idea\.idea.SpearPrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
